@page "/messages/{QueueName}/{PageNumber:int=0}"
@model MessagesModel
@{
    ViewData["Title"] = $"{@Model.QueueName} Queue";
}

@if (Model.ErrorMessage != null)
{
    <div>
        <p>@Model.ErrorMessage</p>
    </div>
}

<div>
    <h1 class="display-4">@Model.QueueName</h1>

    <div class="container mt-4">

        <center>
            <a href="/messages/@Model.QueueName/0">&lt;&lt; First</a>
            &nbsp; | &nbsp;
            <a href="/messages/@Model.QueueName/@(Model.PageNumber-1)">&lt; Previous</a>
            &nbsp; | &nbsp;
            <a href="/messages/@Model.QueueName/@(Model.PageNumber+1)">Next &gt;</a>
        </center>


        <table class="table table-striped table-bordered">
            <thead class="table-light">
                <tr>
                    <th colspan="6">Messages</th>
                </tr>
            </thead>
            <thead class="table-light">
                <tr>
                    <th>Message Id</th>
                    <th>Timestamp</th>
                    <th>Object Type</th>
                    <th>Subscriber Deliveries</th>
                    <th>Satisfied Subscribers</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var queue in Model.Messages)
                {
                    <tr>
                        <td><a href="/message/@Model.QueueName/@queue.MessageId">@queue.MessageId</a></td>
                        <td>@queue.Timestamp</td>
                        <td>@queue.ObjectType</td>
                        <td>@queue.SubscriberMessageDeliveries.Count.ToString("n0")</td>
                        <td>@queue.SatisfiedSubscribersConnectionIDs.Count.ToString("n0")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
